<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlogManager.Configuration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlogManager.Configuration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlogManager.Configuration.Settings>
            <setting name="BlogId" serializeAs="String">
                <value />
            </setting>
            <setting name="BlogUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagsPlaceholder" serializeAs="String">
                <value>&lt;div style="margin: 0px; padding: 0px; display: inline;" contenteditable="false" class="wlWriterSmartContent"&gt;Technorati tags: {0}&lt;/div&gt;</value>
            </setting>
            <setting name="LastBackupFile" serializeAs="String">
                <value />
            </setting>
        </BlogManager.Configuration.Settings>
    </userSettings>
    <applicationSettings>
        <BlogManager.Configuration.Settings>
            <setting name="FactoryName" serializeAs="String">
                <value>BlogManager.MetaBlogServices.ServiceFactory, MetaBlogServices</value>
            </setting>
        </BlogManager.Configuration.Settings>
    </applicationSettings>
</configuration>